[data-cellid="grid_footcell_field"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field1"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field1"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field2"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field2"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field3"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field3"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field4"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field4"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field5"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field5"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field6"][data-page="000_global_f_masterlist"][data-cellid="grid_footcell_field6"][data-page="000_global_f_masterlist"] {
  white-space: nowrap;
}


