[data-cellid="footer_c1"][data-page="001_rubro_export"][data-cellid="footer_c1"][data-page="001_rubro_export"][data-cellid="footer_c1"][data-page="001_rubro_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="001_rubro_export"][data-cellid="footer_c2"][data-page="001_rubro_export"][data-cellid="footer_c2"][data-page="001_rubro_export"] {
  width: 66.66666667%;
}


