[data-cellid="grid_footcell_field"][data-page="dependencia_list"][data-cellid="grid_footcell_field"][data-page="dependencia_list"][data-cellid="grid_footcell_field"][data-page="dependencia_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="dependencia_list"][data-cellid="grid_footcell_field1"][data-page="dependencia_list"][data-cellid="grid_footcell_field1"][data-page="dependencia_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="dependencia_list"][data-cellid="grid_footcell_field2"][data-page="dependencia_list"][data-cellid="grid_footcell_field2"][data-page="dependencia_list"] {
  white-space: nowrap;
}


