[data-cellid="grid_footcell_field"][data-page="global_ubicacion_list"][data-cellid="grid_footcell_field"][data-page="global_ubicacion_list"][data-cellid="grid_footcell_field"][data-page="global_ubicacion_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="global_ubicacion_list"][data-cellid="grid_footcell_field1"][data-page="global_ubicacion_list"][data-cellid="grid_footcell_field1"][data-page="global_ubicacion_list"] {
  white-space: nowrap;
}


