[data-cellid="grid_footcell_field"][data-page="global_unspsc_list"][data-cellid="grid_footcell_field"][data-page="global_unspsc_list"][data-cellid="grid_footcell_field"][data-page="global_unspsc_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="global_unspsc_list"][data-cellid="grid_footcell_field1"][data-page="global_unspsc_list"][data-cellid="grid_footcell_field1"][data-page="global_unspsc_list"] {
  white-space: nowrap;
}


