[data-cellid="footer_c1"][data-page="q_recursos_gestor_c_export"][data-cellid="footer_c1"][data-page="q_recursos_gestor_c_export"][data-cellid="footer_c1"][data-page="q_recursos_gestor_c_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="q_recursos_gestor_c_export"][data-cellid="footer_c2"][data-page="q_recursos_gestor_c_export"][data-cellid="footer_c2"][data-page="q_recursos_gestor_c_export"] {
  width: 66.66666667%;
}


