body.function-login {
    height:100%;
    background:transparent url("../../../background/thumbnail_119.jpg") no-repeat center center fixed;
    background-size:cover;
}
body.function-menu {
    height:100%;
    background:transparent url("../../../background/thumbnail_112.jpg") no-repeat center center fixed;
    background-size:cover;
}