<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel 003_actividad search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ACT_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ACT_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ACT_ID" 
	
	data-signal-error-for="ACT_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ACT_ID" >


	<label class="r-search-label control-label" for="{$labelfor_ACT_ID}">
		{$label 003_actividad ACT_ID }	</label>
	<div class="r-search-option">
		{$searchtype_ACT_ID}
	</div>
	<div class="r-search-field">
		{$ACT_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$ACT_ID_editcontrol1}
	</div>
	
</div>

{END ACT_ID_fieldblock}
											
{BEGIN PROD_ID_FK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PROD_ID_FK}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PROD_ID_FK" 
	
	data-signal-error-for="PROD_ID_FK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="PROD_ID_FK" >


	<label class="r-search-label control-label" for="{$labelfor_PROD_ID_FK}">
		{$label 003_actividad PROD_ID_FK }	</label>
	<div class="r-search-option">
		{$searchtype_PROD_ID_FK}
	</div>
	<div class="r-search-field">
		{$PROD_ID_FK_editcontrol}	</div>
	<div class="r-search-field">
		{$PROD_ID_FK_editcontrol1}
	</div>
	
</div>

{END PROD_ID_FK_fieldblock}
											
{BEGIN RUBRO_ID_FK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO_ID_FK}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RUBRO_ID_FK" 
	
	data-signal-error-for="RUBRO_ID_FK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="RUBRO_ID_FK" >


	<label class="r-search-label control-label" for="{$labelfor_RUBRO_ID_FK}">
		{$label 003_actividad RUBRO_ID_FK }	</label>
	<div class="r-search-option">
		{$searchtype_RUBRO_ID_FK}
	</div>
	<div class="r-search-field">
		{$RUBRO_ID_FK_editcontrol}	</div>
	<div class="r-search-field">
		{$RUBRO_ID_FK_editcontrol1}
	</div>
	
</div>

{END RUBRO_ID_FK_fieldblock}
											
{BEGIN VIGENCIA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VIGENCIA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="VIGENCIA" 
	
	data-signal-error-for="VIGENCIA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="VIGENCIA" >


	<label class="r-search-label control-label" for="{$labelfor_VIGENCIA}">
		{$label 003_actividad VIGENCIA }	</label>
	<div class="r-search-option">
		{$searchtype_VIGENCIA}
	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol}	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol1}
	</div>
	
</div>

{END VIGENCIA_fieldblock}
											
{BEGIN TIPO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIPO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIPO" 
	
	data-signal-error-for="TIPO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="TIPO" >


	<label class="r-search-label control-label" for="{$labelfor_TIPO}">
		{$label 003_actividad TIPO }	</label>
	<div class="r-search-option">
		{$searchtype_TIPO}
	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol}	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol1}
	</div>
	
</div>

{END TIPO_fieldblock}
											
{BEGIN UEJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="UEJ" 
	
	data-signal-error-for="UEJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="UEJ" >


	<label class="r-search-label control-label" for="{$labelfor_UEJ}">
		{$label 003_actividad UEJ }	</label>
	<div class="r-search-option">
		{$searchtype_UEJ}
	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol}	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol1}
	</div>
	
</div>

{END UEJ_fieldblock}
											
{BEGIN RUBRO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RUBRO" 
	
	data-signal-error-for="RUBRO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="RUBRO" >


	<label class="r-search-label control-label" for="{$labelfor_RUBRO}">
		{$label 003_actividad RUBRO }	</label>
	<div class="r-search-option">
		{$searchtype_RUBRO}
	</div>
	<div class="r-search-field">
		{$RUBRO_editcontrol}	</div>
	<div class="r-search-field">
		{$RUBRO_editcontrol1}
	</div>
	
</div>

{END RUBRO_fieldblock}
											
{BEGIN PRODUCTO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PRODUCTO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PRODUCTO" 
	
	data-signal-error-for="PRODUCTO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="PRODUCTO" >


	<label class="r-search-label control-label" for="{$labelfor_PRODUCTO}">
		{$label 003_actividad PRODUCTO }	</label>
	<div class="r-search-option">
		{$searchtype_PRODUCTO}
	</div>
	<div class="r-search-field">
		{$PRODUCTO_editcontrol}	</div>
	<div class="r-search-field">
		{$PRODUCTO_editcontrol1}
	</div>
	
</div>

{END PRODUCTO_fieldblock}
											
{BEGIN ACTIVIDAD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ACTIVIDAD}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ACTIVIDAD" 
	
	data-signal-error-for="ACTIVIDAD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ACTIVIDAD" >


	<label class="r-search-label control-label" for="{$labelfor_ACTIVIDAD}">
		{$label 003_actividad ACTIVIDAD }	</label>
	<div class="r-search-option">
		{$searchtype_ACTIVIDAD}
	</div>
	<div class="r-search-field">
		{$ACTIVIDAD_editcontrol}	</div>
	<div class="r-search-field">
		{$ACTIVIDAD_editcontrol1}
	</div>
	
</div>

{END ACTIVIDAD_fieldblock}
											
{BEGIN META_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_META}  r-horizontal-field form-horizontal" 
	
		data-fieldname="META" 
	
	data-signal-error-for="META{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="META" >


	<label class="r-search-label control-label" for="{$labelfor_META}">
		{$label 003_actividad META }	</label>
	<div class="r-search-option">
		{$searchtype_META}
	</div>
	<div class="r-search-field">
		{$META_editcontrol}	</div>
	<div class="r-search-field">
		{$META_editcontrol1}
	</div>
	
</div>

{END META_fieldblock}
											
{BEGIN RECURSOS_ASIGNADOS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RECURSOS_ASIGNADOS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RECURSOS_ASIGNADOS" 
	
	data-signal-error-for="RECURSOS_ASIGNADOS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="RECURSOS_ASIGNADOS" >


	<label class="r-search-label control-label" for="{$labelfor_RECURSOS_ASIGNADOS}">
		{$label 003_actividad RECURSOS_ASIGNADOS }	</label>
	<div class="r-search-option">
		{$searchtype_RECURSOS_ASIGNADOS}
	</div>
	<div class="r-search-field">
		{$RECURSOS_ASIGNADOS_editcontrol}	</div>
	<div class="r-search-field">
		{$RECURSOS_ASIGNADOS_editcontrol1}
	</div>
	
</div>

{END RECURSOS_ASIGNADOS_fieldblock}
											
{BEGIN DEPENDENCIA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DEPENDENCIA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DEPENDENCIA" 
	
	data-signal-error-for="DEPENDENCIA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="DEPENDENCIA" >


	<label class="r-search-label control-label" for="{$labelfor_DEPENDENCIA}">
		{$label 003_actividad DEPENDENCIA }	</label>
	<div class="r-search-option">
		{$searchtype_DEPENDENCIA}
	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_editcontrol}	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_editcontrol1}
	</div>
	
</div>

{END DEPENDENCIA_fieldblock}
											
{BEGIN RESPONSABLE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RESPONSABLE" 
	
	data-signal-error-for="RESPONSABLE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="RESPONSABLE" >


	<label class="r-search-label control-label" for="{$labelfor_RESPONSABLE}">
		{$label 003_actividad RESPONSABLE }	</label>
	<div class="r-search-option">
		{$searchtype_RESPONSABLE}
	</div>
	<div class="r-search-field">
		{$RESPONSABLE_editcontrol}	</div>
	<div class="r-search-field">
		{$RESPONSABLE_editcontrol1}
	</div>
	
</div>

{END RESPONSABLE_fieldblock}
											
{BEGIN SALDO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SALDO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SALDO" 
	
	data-signal-error-for="SALDO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="SALDO" >


	<label class="r-search-label control-label" for="{$labelfor_SALDO}">
		{$label 003_actividad SALDO }	</label>
	<div class="r-search-option">
		{$searchtype_SALDO}
	</div>
	<div class="r-search-field">
		{$SALDO_editcontrol}	</div>
	<div class="r-search-field">
		{$SALDO_editcontrol1}
	</div>
	
</div>

{END SALDO_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
