<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel paa_master view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PAA_ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAA_ID}  r-vertical-field" data-fieldname="PAA_ID" data-signal-error-for="PAA_ID{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="PAA_ID" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PAA_ID}">
		
		{BEGIN PAA_ID_label}{$label paa_master PAA_ID }{END PAA_ID_label}
	</label>
	<div class="" >
		{$PAA_ID_value}	</div>

		</div>
		
</div>


{END PAA_ID_fieldblock}
											
{BEGIN DESCRIPCION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION}  r-vertical-field" data-fieldname="DESCRIPCION" data-signal-error-for="DESCRIPCION{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="DESCRIPCION" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION}">
		
		{BEGIN DESCRIPCION_label}{$label paa_master DESCRIPCION }{END DESCRIPCION_label}
	</label>
	<div class="" >
		{$DESCRIPCION_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_fieldblock}
											
{BEGIN DURACION_CONTRATO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DURACION_CONTRATO}  r-vertical-field" data-fieldname="DURACION_CONTRATO" data-signal-error-for="DURACION_CONTRATO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="DURACION_CONTRATO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DURACION_CONTRATO}">
		
		{BEGIN DURACION_CONTRATO_label}{$label paa_master DURACION_CONTRATO }{END DURACION_CONTRATO_label}
	</label>
	<div class="" >
		{$DURACION_CONTRATO_value}	</div>

		</div>
		
</div>


{END DURACION_CONTRATO_fieldblock}
											
{BEGIN FUENTE_RECURSOS_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FUENTE_RECURSOS}  r-vertical-field" data-fieldname="FUENTE_RECURSOS" data-signal-error-for="FUENTE_RECURSOS{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="FUENTE_RECURSOS" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_FUENTE_RECURSOS}">
		
		{BEGIN FUENTE_RECURSOS_label}{$label paa_master FUENTE_RECURSOS }{END FUENTE_RECURSOS_label}
	</label>
	<div class="" >
		{$FUENTE_RECURSOS_value}	</div>

		</div>
		
</div>


{END FUENTE_RECURSOS_fieldblock}
											
{BEGIN VALOR_VIGENCIA_FUTURA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR_VIGENCIA_FUTURA}  r-vertical-field" data-fieldname="VALOR_VIGENCIA_FUTURA" data-signal-error-for="VALOR_VIGENCIA_FUTURA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="VALOR_VIGENCIA_FUTURA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VALOR_VIGENCIA_FUTURA}">
		
		{BEGIN VALOR_VIGENCIA_FUTURA_label}{$label paa_master VALOR_VIGENCIA_FUTURA }{END VALOR_VIGENCIA_FUTURA_label}
	</label>
	<div class="" >
		{$VALOR_VIGENCIA_FUTURA_value}	</div>

		</div>
		
</div>


{END VALOR_VIGENCIA_FUTURA_fieldblock}
											
{BEGIN UNIDAD_CONTRATACION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UNIDAD_CONTRATACION}  r-vertical-field" data-fieldname="UNIDAD_CONTRATACION" data-signal-error-for="UNIDAD_CONTRATACION{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="UNIDAD_CONTRATACION" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_UNIDAD_CONTRATACION}">
		
		{BEGIN UNIDAD_CONTRATACION_label}{$label paa_master UNIDAD_CONTRATACION }{END UNIDAD_CONTRATACION_label}
	</label>
	<div class="" >
		{$UNIDAD_CONTRATACION_value}	</div>

		</div>
		
</div>


{END UNIDAD_CONTRATACION_fieldblock}
											
{BEGIN RESPONSABLE_TELEFONO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_TELEFONO}  r-vertical-field" data-fieldname="RESPONSABLE_TELEFONO" data-signal-error-for="RESPONSABLE_TELEFONO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="RESPONSABLE_TELEFONO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RESPONSABLE_TELEFONO}">
		
		{BEGIN RESPONSABLE_TELEFONO_label}{$label paa_master RESPONSABLE_TELEFONO }{END RESPONSABLE_TELEFONO_label}
	</label>
	<div class="" >
		{$RESPONSABLE_TELEFONO_value}	</div>

		</div>
		
</div>


{END RESPONSABLE_TELEFONO_fieldblock}
											
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="sys_user" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label paa_master sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
											
{BEGIN REQ_MAILNOT_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REQ_MAILNOT}  r-vertical-field" data-fieldname="REQ_MAILNOT" data-signal-error-for="REQ_MAILNOT{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="REQ_MAILNOT" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_REQ_MAILNOT}">
		
		{BEGIN REQ_MAILNOT_label}{$label paa_master REQ_MAILNOT }{END REQ_MAILNOT_label}
	</label>
	<div class="" >
		{$REQ_MAILNOT_value}	</div>

		</div>
		
</div>


{END REQ_MAILNOT_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ACT_ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ACT_ID}  r-vertical-field" data-fieldname="ACT_ID" data-signal-error-for="ACT_ID{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="ACT_ID" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ACT_ID}">
		
		{BEGIN ACT_ID_label}{$label paa_master ACT_ID }{END ACT_ID_label}
	</label>
	<div class="" >
		{$ACT_ID_value}	</div>

		</div>
		
</div>


{END ACT_ID_fieldblock}
											
{BEGIN MES_INICIO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MES_INICIO}  r-vertical-field" data-fieldname="MES_INICIO" data-signal-error-for="MES_INICIO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="MES_INICIO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_MES_INICIO}">
		
		{BEGIN MES_INICIO_label}{$label paa_master MES_INICIO }{END MES_INICIO_label}
	</label>
	<div class="" >
		{$MES_INICIO_value}	</div>

		</div>
		
</div>


{END MES_INICIO_fieldblock}
											
{BEGIN DURACION_ESTIMADA_DMA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DURACION_ESTIMADA_DMA}  r-vertical-field" data-fieldname="DURACION_ESTIMADA_DMA" data-signal-error-for="DURACION_ESTIMADA_DMA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="DURACION_ESTIMADA_DMA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DURACION_ESTIMADA_DMA}">
		
		{BEGIN DURACION_ESTIMADA_DMA_label}{$label paa_master DURACION_ESTIMADA_DMA }{END DURACION_ESTIMADA_DMA_label}
	</label>
	<div class="" >
		{$DURACION_ESTIMADA_DMA_value}	</div>

		</div>
		
</div>


{END DURACION_ESTIMADA_DMA_fieldblock}
											
{BEGIN VALOR_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR}  r-vertical-field" data-fieldname="VALOR" data-signal-error-for="VALOR{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="VALOR" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VALOR}">
		
		{BEGIN VALOR_label}{$label paa_master VALOR }{END VALOR_label}
	</label>
	<div class="" >
		{$VALOR_value}	</div>

		</div>
		
</div>


{END VALOR_fieldblock}
											
{BEGIN VF_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VF}  r-vertical-field" data-fieldname="VF" data-signal-error-for="VF{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="VF" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VF}">
		
		{BEGIN VF_label}{$label paa_master VF }{END VF_label}
	</label>
	<div class="" >
		{$VF_value}	</div>

		</div>
		
</div>


{END VF_fieldblock}
											
{BEGIN COD_UBICACION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_COD_UBICACION}  r-vertical-field" data-fieldname="COD_UBICACION" data-signal-error-for="COD_UBICACION{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="COD_UBICACION" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_COD_UBICACION}">
		
		{BEGIN COD_UBICACION_label}{$label paa_master COD_UBICACION }{END COD_UBICACION_label}
	</label>
	<div class="" >
		{$COD_UBICACION_value}	</div>

		</div>
		
</div>


{END COD_UBICACION_fieldblock}
											
{BEGIN responsable_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_responsable}  r-vertical-field" data-fieldname="responsable" data-signal-error-for="responsable{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="responsable" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_responsable}">
		
		{BEGIN responsable_label}{$label paa_master responsable }{END responsable_label}
	</label>
	<div class="" >
		{$responsable_value}	</div>

		</div>
		
</div>


{END responsable_fieldblock}
											
{BEGIN sys_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-vertical-field" data-fieldname="sys_date" data-signal-error-for="sys_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="sys_date" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_date}">
		
		{BEGIN sys_date_label}{$label paa_master sys_date }{END sys_date_label}
	</label>
	<div class="" >
		{$sys_date_value}	</div>

		</div>
		
</div>


{END sys_date_fieldblock}
	
								</td>
			{END cellblock_grid_c}
			 
																

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN COD_UNSPSC_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_COD_UNSPSC}  r-vertical-field" data-fieldname="COD_UNSPSC" data-signal-error-for="COD_UNSPSC{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="COD_UNSPSC" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_COD_UNSPSC}">
		
		{BEGIN COD_UNSPSC_label}{$label paa_master COD_UNSPSC }{END COD_UNSPSC_label}
	</label>
	<div class="" >
		{$COD_UNSPSC_value}	</div>

		</div>
		
</div>


{END COD_UNSPSC_fieldblock}
											
{BEGIN MES_PRESENTA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MES_PRESENTA}  r-vertical-field" data-fieldname="MES_PRESENTA" data-signal-error-for="MES_PRESENTA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="MES_PRESENTA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_MES_PRESENTA}">
		
		{BEGIN MES_PRESENTA_label}{$label paa_master MES_PRESENTA }{END MES_PRESENTA_label}
	</label>
	<div class="" >
		{$MES_PRESENTA_value}	</div>

		</div>
		
</div>


{END MES_PRESENTA_fieldblock}
											
{BEGIN MODALIDAD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MODALIDAD}  r-vertical-field" data-fieldname="MODALIDAD" data-signal-error-for="MODALIDAD{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="MODALIDAD" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_MODALIDAD}">
		
		{BEGIN MODALIDAD_label}{$label paa_master MODALIDAD }{END MODALIDAD_label}
	</label>
	<div class="" >
		{$MODALIDAD_value}	</div>

		</div>
		
</div>


{END MODALIDAD_fieldblock}
											
{BEGIN VALOR_VIGENCIA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VALOR_VIGENCIA}  r-vertical-field" data-fieldname="VALOR_VIGENCIA" data-signal-error-for="VALOR_VIGENCIA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="VALOR_VIGENCIA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VALOR_VIGENCIA}">
		
		{BEGIN VALOR_VIGENCIA_label}{$label paa_master VALOR_VIGENCIA }{END VALOR_VIGENCIA_label}
	</label>
	<div class="" >
		{$VALOR_VIGENCIA_value}	</div>

		</div>
		
</div>


{END VALOR_VIGENCIA_fieldblock}
											
{BEGIN ESTADO_VF_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ESTADO_VF}  r-vertical-field" data-fieldname="ESTADO_VF" data-signal-error-for="ESTADO_VF{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="ESTADO_VF" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ESTADO_VF}">
		
		{BEGIN ESTADO_VF_label}{$label paa_master ESTADO_VF }{END ESTADO_VF_label}
	</label>
	<div class="" >
		{$ESTADO_VF_value}	</div>

		</div>
		
</div>


{END ESTADO_VF_fieldblock}
											
{BEGIN RESPONSABLE_NOMBRE_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_NOMBRE}  r-vertical-field" data-fieldname="RESPONSABLE_NOMBRE" data-signal-error-for="RESPONSABLE_NOMBRE{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="RESPONSABLE_NOMBRE" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RESPONSABLE_NOMBRE}">
		
		{BEGIN RESPONSABLE_NOMBRE_label}{$label paa_master RESPONSABLE_NOMBRE }{END RESPONSABLE_NOMBRE_label}
	</label>
	<div class="" >
		{$RESPONSABLE_NOMBRE_value}	</div>

		</div>
		
</div>


{END RESPONSABLE_NOMBRE_fieldblock}
											
{BEGIN vigencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_vigencia}  r-vertical-field" data-fieldname="vigencia" data-signal-error-for="vigencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="vigencia" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_vigencia}">
		
		{BEGIN vigencia_label}{$label paa_master vigencia }{END vigencia_label}
	</label>
	<div class="" >
		{$vigencia_value}	</div>

		</div>
		
</div>


{END vigencia_fieldblock}
											
{BEGIN sys_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-vertical-field" data-fieldname="sys_status" data-signal-error-for="sys_status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="sys_status" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_status}">
		
		{BEGIN sys_status_label}{$label paa_master sys_status }{END sys_status_label}
	</label>
	<div class="" >
		{$sys_status_value}	</div>

		</div>
		
</div>


{END sys_status_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="#" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
