<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel q_recursos_gestor_c1 view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN UEJ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-vertical-field" data-fieldname="UEJ" data-signal-error-for="UEJ{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="UEJ" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_UEJ}">
		
		{BEGIN UEJ_label}{$label q_recursos_gestor_c1 UEJ }{END UEJ_label}
	</label>
	<div class="" >
		{$UEJ_value}	</div>

		</div>
		
</div>


{END UEJ_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN VIGENCIA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VIGENCIA}  r-vertical-field" data-fieldname="VIGENCIA" data-signal-error-for="VIGENCIA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="VIGENCIA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VIGENCIA}">
		
		{BEGIN VIGENCIA_label}{$label q_recursos_gestor_c1 VIGENCIA }{END VIGENCIA_label}
	</label>
	<div class="" >
		{$VIGENCIA_value}	</div>

		</div>
		
</div>


{END VIGENCIA_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PRESUPUESTO_000_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_000}  r-vertical-field" data-fieldname="PRESUPUESTO_000" data-signal-error-for="PRESUPUESTO_000{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="PRESUPUESTO_000" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_000}">
		
		{BEGIN PRESUPUESTO_000_label}{$label q_recursos_gestor_c1 PRESUPUESTO_000 }{END PRESUPUESTO_000_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_000_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_000_fieldblock}
											
{BEGIN RUBRO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO}  r-vertical-field" data-fieldname="RUBRO" data-signal-error-for="RUBRO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="RUBRO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RUBRO}">
		
		{BEGIN RUBRO_label}{$label q_recursos_gestor_c1 RUBRO }{END RUBRO_label}
	</label>
	<div class="" >
		{$RUBRO_value}	</div>

		</div>
		
</div>


{END RUBRO_fieldblock}
											
{BEGIN REC_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REC_001}  r-vertical-field" data-fieldname="REC_001" data-signal-error-for="REC_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="REC_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_REC_001}">
		
		{BEGIN REC_001_label}{$label q_recursos_gestor_c1 REC_001 }{END REC_001_label}
	</label>
	<div class="" >
		{$REC_001_value}	</div>

		</div>
		
</div>


{END REC_001_fieldblock}
											
{BEGIN PRESUPUESTO_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_001}  r-vertical-field" data-fieldname="PRESUPUESTO_001" data-signal-error-for="PRESUPUESTO_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="PRESUPUESTO_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_001}">
		
		{BEGIN PRESUPUESTO_001_label}{$label q_recursos_gestor_c1 PRESUPUESTO_001 }{END PRESUPUESTO_001_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_001_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_001_fieldblock}
											
{BEGIN DESCRIPCION_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION_002}  r-vertical-field" data-fieldname="DESCRIPCION_002" data-signal-error-for="DESCRIPCION_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="DESCRIPCION_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION_002}">
		
		{BEGIN DESCRIPCION_002_label}{$label q_recursos_gestor_c1 DESCRIPCION_002 }{END DESCRIPCION_002_label}
	</label>
	<div class="" >
		{$DESCRIPCION_002_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_002_fieldblock}
											
{BEGIN ACT_ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ACT_ID}  r-vertical-field" data-fieldname="ACT_ID" data-signal-error-for="ACT_ID{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="ACT_ID" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ACT_ID}">
		
		{BEGIN ACT_ID_label}{$label q_recursos_gestor_c1 ACT_ID }{END ACT_ID_label}
	</label>
	<div class="" >
		{$ACT_ID_value}	</div>

		</div>
		
</div>


{END ACT_ID_fieldblock}
											
{BEGIN META_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_META}  r-vertical-field" data-fieldname="META" data-signal-error-for="META{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="META" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_META}">
		
		{BEGIN META_label}{$label q_recursos_gestor_c1 META }{END META_label}
	</label>
	<div class="" >
		{$META_value}	</div>

		</div>
		
</div>


{END META_fieldblock}
											
{BEGIN DEP_003_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DEP_003}  r-vertical-field" data-fieldname="DEP_003" data-signal-error-for="DEP_003{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="DEP_003" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DEP_003}">
		
		{BEGIN DEP_003_label}{$label q_recursos_gestor_c1 DEP_003 }{END DEP_003_label}
	</label>
	<div class="" >
		{$DEP_003_value}	</div>

		</div>
		
</div>


{END DEP_003_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DESCRIPCION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION}  r-vertical-field" data-fieldname="DESCRIPCION" data-signal-error-for="DESCRIPCION{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="DESCRIPCION" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION}">
		
		{BEGIN DESCRIPCION_label}{$label q_recursos_gestor_c1 DESCRIPCION }{END DESCRIPCION_label}
	</label>
	<div class="" >
		{$DESCRIPCION_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_fieldblock}
											
{BEGIN RUBRO_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO_001}  r-vertical-field" data-fieldname="RUBRO_001" data-signal-error-for="RUBRO_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="RUBRO_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RUBRO_001}">
		
		{BEGIN RUBRO_001_label}{$label q_recursos_gestor_c1 RUBRO_001 }{END RUBRO_001_label}
	</label>
	<div class="" >
		{$RUBRO_001_value}	</div>

		</div>
		
</div>


{END RUBRO_001_fieldblock}
											
{BEGIN DESCRIPCION_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION_001}  r-vertical-field" data-fieldname="DESCRIPCION_001" data-signal-error-for="DESCRIPCION_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="DESCRIPCION_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION_001}">
		
		{BEGIN DESCRIPCION_001_label}{$label q_recursos_gestor_c1 DESCRIPCION_001 }{END DESCRIPCION_001_label}
	</label>
	<div class="" >
		{$DESCRIPCION_001_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_001_fieldblock}
											
{BEGIN BPIN_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BPIN}  r-vertical-field" data-fieldname="BPIN" data-signal-error-for="BPIN{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="BPIN" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_BPIN}">
		
		{BEGIN BPIN_label}{$label q_recursos_gestor_c1 BPIN }{END BPIN_label}
	</label>
	<div class="" >
		{$BPIN_value}	</div>

		</div>
		
</div>


{END BPIN_fieldblock}
											
{BEGIN PRODUCTO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRODUCTO}  r-vertical-field" data-fieldname="PRODUCTO" data-signal-error-for="PRODUCTO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="PRODUCTO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRODUCTO}">
		
		{BEGIN PRODUCTO_label}{$label q_recursos_gestor_c1 PRODUCTO }{END PRODUCTO_label}
	</label>
	<div class="" >
		{$PRODUCTO_value}	</div>

		</div>
		
</div>


{END PRODUCTO_fieldblock}
											
{BEGIN PRESUPUESTO_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_002}  r-vertical-field" data-fieldname="PRESUPUESTO_002" data-signal-error-for="PRESUPUESTO_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="PRESUPUESTO_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_002}">
		
		{BEGIN PRESUPUESTO_002_label}{$label q_recursos_gestor_c1 PRESUPUESTO_002 }{END PRESUPUESTO_002_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_002_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_002_fieldblock}
											
{BEGIN REC_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REC_002}  r-vertical-field" data-fieldname="REC_002" data-signal-error-for="REC_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="REC_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_REC_002}">
		
		{BEGIN REC_002_label}{$label q_recursos_gestor_c1 REC_002 }{END REC_002_label}
	</label>
	<div class="" >
		{$REC_002_value}	</div>

		</div>
		
</div>


{END REC_002_fieldblock}
											
{BEGIN RESPONSABLE_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_002}  r-vertical-field" data-fieldname="RESPONSABLE_002" data-signal-error-for="RESPONSABLE_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="RESPONSABLE_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RESPONSABLE_002}">
		
		{BEGIN RESPONSABLE_002_label}{$label q_recursos_gestor_c1 RESPONSABLE_002 }{END RESPONSABLE_002_label}
	</label>
	<div class="" >
		{$RESPONSABLE_002_value}	</div>

		</div>
		
</div>


{END RESPONSABLE_002_fieldblock}
											
{BEGIN ACTIVIDAD_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ACTIVIDAD}  r-vertical-field" data-fieldname="ACTIVIDAD" data-signal-error-for="ACTIVIDAD{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="ACTIVIDAD" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ACTIVIDAD}">
		
		{BEGIN ACTIVIDAD_label}{$label q_recursos_gestor_c1 ACTIVIDAD }{END ACTIVIDAD_label}
	</label>
	<div class="" >
		{$ACTIVIDAD_value}	</div>

		</div>
		
</div>


{END ACTIVIDAD_fieldblock}
											
{BEGIN RECURSOS_ASIGNADOS_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RECURSOS_ASIGNADOS}  r-vertical-field" data-fieldname="RECURSOS_ASIGNADOS" data-signal-error-for="RECURSOS_ASIGNADOS{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="RECURSOS_ASIGNADOS" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RECURSOS_ASIGNADOS}">
		
		{BEGIN RECURSOS_ASIGNADOS_label}{$label q_recursos_gestor_c1 RECURSOS_ASIGNADOS }{END RECURSOS_ASIGNADOS_label}
	</label>
	<div class="" >
		{$RECURSOS_ASIGNADOS_value}	</div>

		</div>
		
</div>


{END RECURSOS_ASIGNADOS_fieldblock}
											
{BEGIN RESPONSABLE_003_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_003}  r-vertical-field" data-fieldname="RESPONSABLE_003" data-signal-error-for="RESPONSABLE_003{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="RESPONSABLE_003" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RESPONSABLE_003}">
		
		{BEGIN RESPONSABLE_003_label}{$label q_recursos_gestor_c1 RESPONSABLE_003 }{END RESPONSABLE_003_label}
	</label>
	<div class="" >
		{$RESPONSABLE_003_value}	</div>

		</div>
		
</div>


{END RESPONSABLE_003_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
