<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel q_recursos_gestor_c view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN VIGENCIA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VIGENCIA}  r-vertical-field" data-fieldname="VIGENCIA" data-signal-error-for="VIGENCIA{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="VIGENCIA" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_VIGENCIA}">
		
		{BEGIN VIGENCIA_label}{$label q_recursos_gestor_c VIGENCIA }{END VIGENCIA_label}
	</label>
	<div class="" >
		{$VIGENCIA_value}	</div>

		</div>
		
</div>


{END VIGENCIA_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN UEJ_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-vertical-field" data-fieldname="UEJ" data-signal-error-for="UEJ{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="UEJ" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_UEJ}">
		
		{BEGIN UEJ_label}{$label q_recursos_gestor_c UEJ }{END UEJ_label}
	</label>
	<div class="" >
		{$UEJ_value}	</div>

		</div>
		
</div>


{END UEJ_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DESCRIPCION_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION}  r-vertical-field" data-fieldname="DESCRIPCION" data-signal-error-for="DESCRIPCION{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="DESCRIPCION" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION}">
		
		{BEGIN DESCRIPCION_label}{$label q_recursos_gestor_c DESCRIPCION }{END DESCRIPCION_label}
	</label>
	<div class="" >
		{$DESCRIPCION_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN RUBRO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO}  r-vertical-field" data-fieldname="RUBRO" data-signal-error-for="RUBRO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="RUBRO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RUBRO}">
		
		{BEGIN RUBRO_label}{$label q_recursos_gestor_c RUBRO }{END RUBRO_label}
	</label>
	<div class="" >
		{$RUBRO_value}	</div>

		</div>
		
</div>


{END RUBRO_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN REC_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REC_001}  r-vertical-field" data-fieldname="REC_001" data-signal-error-for="REC_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="REC_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_REC_001}">
		
		{BEGIN REC_001_label}{$label q_recursos_gestor_c REC_001 }{END REC_001_label}
	</label>
	<div class="" >
		{$REC_001_value}	</div>

		</div>
		
</div>


{END REC_001_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN BPIN_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BPIN}  r-vertical-field" data-fieldname="BPIN" data-signal-error-for="BPIN{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="BPIN" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_BPIN}">
		
		{BEGIN BPIN_label}{$label q_recursos_gestor_c BPIN }{END BPIN_label}
	</label>
	<div class="" >
		{$BPIN_value}	</div>

		</div>
		
</div>


{END BPIN_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PRESUPUESTO_000_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_000}  r-vertical-field" data-fieldname="PRESUPUESTO_000" data-signal-error-for="PRESUPUESTO_000{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="PRESUPUESTO_000" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_000}">
		
		{BEGIN PRESUPUESTO_000_label}{$label q_recursos_gestor_c PRESUPUESTO_000 }{END PRESUPUESTO_000_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_000_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_000_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
			 
		
							

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c21}
			 
		
							

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c22}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="3"		data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DESCRIPCION_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION_001}  r-vertical-field" data-fieldname="DESCRIPCION_001" data-signal-error-for="DESCRIPCION_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="DESCRIPCION_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION_001}">
		
		{BEGIN DESCRIPCION_001_label}{$label q_recursos_gestor_c DESCRIPCION_001 }{END DESCRIPCION_001_label}
	</label>
	<div class="" >
		{$DESCRIPCION_001_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_001_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PRESUPUESTO_001_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_001}  r-vertical-field" data-fieldname="PRESUPUESTO_001" data-signal-error-for="PRESUPUESTO_001{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="PRESUPUESTO_001" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_001}">
		
		{BEGIN PRESUPUESTO_001_label}{$label q_recursos_gestor_c PRESUPUESTO_001 }{END PRESUPUESTO_001_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_001_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_001_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
		
							

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c11}
			 
		
							

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PRODUCTO_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRODUCTO}  r-vertical-field" data-fieldname="PRODUCTO" data-signal-error-for="PRODUCTO{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="PRODUCTO" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRODUCTO}">
		
		{BEGIN PRODUCTO_label}{$label q_recursos_gestor_c PRODUCTO }{END PRODUCTO_label}
	</label>
	<div class="" >
		{$PRODUCTO_value}	</div>

		</div>
		
</div>


{END PRODUCTO_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN REC_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_REC_002}  r-vertical-field" data-fieldname="REC_002" data-signal-error-for="REC_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="REC_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_REC_002}">
		
		{BEGIN REC_002_label}{$label q_recursos_gestor_c REC_002 }{END REC_002_label}
	</label>
	<div class="" >
		{$REC_002_value}	</div>

		</div>
		
</div>


{END REC_002_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
		
							

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c15}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="3"		data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DESCRIPCION_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION_002}  r-vertical-field" data-fieldname="DESCRIPCION_002" data-signal-error-for="DESCRIPCION_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="DESCRIPCION_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DESCRIPCION_002}">
		
		{BEGIN DESCRIPCION_002_label}{$label q_recursos_gestor_c DESCRIPCION_002 }{END DESCRIPCION_002_label}
	</label>
	<div class="" >
		{$DESCRIPCION_002_value}	</div>

		</div>
		
</div>


{END DESCRIPCION_002_fieldblock}
	
								</td>
			{END cellblock_grid_c16}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PRESUPUESTO_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PRESUPUESTO_002}  r-vertical-field" data-fieldname="PRESUPUESTO_002" data-signal-error-for="PRESUPUESTO_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="PRESUPUESTO_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PRESUPUESTO_002}">
		
		{BEGIN PRESUPUESTO_002_label}{$label q_recursos_gestor_c PRESUPUESTO_002 }{END PRESUPUESTO_002_label}
	</label>
	<div class="" >
		{$PRESUPUESTO_002_value}	</div>

		</div>
		
</div>


{END PRESUPUESTO_002_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
			 
		
							

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c4}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c17}
<td
	{$cell_grid_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DEP_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DEP_002}  r-vertical-field" data-fieldname="DEP_002" data-signal-error-for="DEP_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="DEP_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DEP_002}">
		
		{BEGIN DEP_002_label}{$label q_recursos_gestor_c DEP_002 }{END DEP_002_label}
	</label>
	<div class="" >
		{$DEP_002_value}	</div>

		</div>
		
</div>


{END DEP_002_fieldblock}
	
								</td>
			{END cellblock_grid_c17}
			 
		
							

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c18}
			 
																

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN RESPONSABLE_002_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_002}  r-vertical-field" data-fieldname="RESPONSABLE_002" data-signal-error-for="RESPONSABLE_002{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="RESPONSABLE_002" >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RESPONSABLE_002}">
		
		{BEGIN RESPONSABLE_002_label}{$label q_recursos_gestor_c RESPONSABLE_002 }{END RESPONSABLE_002_label}
	</label>
	<div class="" >
		{$RESPONSABLE_002_value}	</div>

		</div>
		
</div>


{END RESPONSABLE_002_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
