<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel q_reporte_002 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN UEJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="UEJ" 
	
	data-signal-error-for="UEJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="UEJ" >


	<label class="r-search-label control-label" for="{$labelfor_UEJ}">
		{$label q_reporte_002 UEJ }	</label>
	<div class="r-search-option">
		{$searchtype_UEJ}
	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol}	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol1}
	</div>
	
</div>

{END UEJ_fieldblock}
											
{BEGIN SECTOR_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SECTOR}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SECTOR" 
	
	data-signal-error-for="SECTOR{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="SECTOR" >


	<label class="r-search-label control-label" for="{$labelfor_SECTOR}">
		{$label q_reporte_002 SECTOR }	</label>
	<div class="r-search-option">
		{$searchtype_SECTOR}
	</div>
	<div class="r-search-field">
		{$SECTOR_editcontrol}	</div>
	<div class="r-search-field">
		{$SECTOR_editcontrol1}
	</div>
	
</div>

{END SECTOR_fieldblock}
											
{BEGIN QTYREGISTROS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_QTYREGISTROS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="QTYREGISTROS" 
	
	data-signal-error-for="QTYREGISTROS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="QTYREGISTROS" >


	<label class="r-search-label control-label" for="{$labelfor_QTYREGISTROS}">
		{$label q_reporte_002 QTYREGISTROS }	</label>
	<div class="r-search-option">
		{$searchtype_QTYREGISTROS}
	</div>
	<div class="r-search-field">
		{$QTYREGISTROS_editcontrol}	</div>
	<div class="r-search-field">
		{$QTYREGISTROS_editcontrol1}
	</div>
	
</div>

{END QTYREGISTROS_fieldblock}
											
{BEGIN NOMBRE_UEJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NOMBRE_UEJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NOMBRE UEJ" 
	
	data-signal-error-for="NOMBRE_UEJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="NOMBRE_UEJ" >


	<label class="r-search-label control-label" for="{$labelfor_NOMBRE_UEJ}">
		{$label q_reporte_002 NOMBRE_UEJ }	</label>
	<div class="r-search-option">
		{$searchtype_NOMBRE_UEJ}
	</div>
	<div class="r-search-field">
		{$NOMBRE_UEJ_editcontrol}	</div>
	<div class="r-search-field">
		{$NOMBRE_UEJ_editcontrol1}
	</div>
	
</div>

{END NOMBRE_UEJ_fieldblock}
											
{BEGIN TIPO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIPO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIPO" 
	
	data-signal-error-for="TIPO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="TIPO" >


	<label class="r-search-label control-label" for="{$labelfor_TIPO}">
		{$label q_reporte_002 TIPO }	</label>
	<div class="r-search-option">
		{$searchtype_TIPO}
	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol}	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol1}
	</div>
	
</div>

{END TIPO_fieldblock}
											
{BEGIN TOTVIGENTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TOTVIGENTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TOTVIGENTE" 
	
	data-signal-error-for="TOTVIGENTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="TOTVIGENTE" >


	<label class="r-search-label control-label" for="{$labelfor_TOTVIGENTE}">
		{$label q_reporte_002 TOTVIGENTE }	</label>
	<div class="r-search-option">
		{$searchtype_TOTVIGENTE}
	</div>
	<div class="r-search-field">
		{$TOTVIGENTE_editcontrol}	</div>
	<div class="r-search-field">
		{$TOTVIGENTE_editcontrol1}
	</div>
	
</div>

{END TOTVIGENTE_fieldblock}
											
{BEGIN TOTCOMPROMISO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TOTCOMPROMISO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TOTCOMPROMISO" 
	
	data-signal-error-for="TOTCOMPROMISO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="TOTCOMPROMISO" >


	<label class="r-search-label control-label" for="{$labelfor_TOTCOMPROMISO}">
		{$label q_reporte_002 TOTCOMPROMISO }	</label>
	<div class="r-search-option">
		{$searchtype_TOTCOMPROMISO}
	</div>
	<div class="r-search-field">
		{$TOTCOMPROMISO_editcontrol}	</div>
	<div class="r-search-field">
		{$TOTCOMPROMISO_editcontrol1}
	</div>
	
</div>

{END TOTCOMPROMISO_fieldblock}
											
{BEGIN TOTOBLIGACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TOTOBLIGACION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TOTOBLIGACION" 
	
	data-signal-error-for="TOTOBLIGACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="TOTOBLIGACION" >


	<label class="r-search-label control-label" for="{$labelfor_TOTOBLIGACION}">
		{$label q_reporte_002 TOTOBLIGACION }	</label>
	<div class="r-search-option">
		{$searchtype_TOTOBLIGACION}
	</div>
	<div class="r-search-field">
		{$TOTOBLIGACION_editcontrol}	</div>
	<div class="r-search-field">
		{$TOTOBLIGACION_editcontrol1}
	</div>
	
</div>

{END TOTOBLIGACION_fieldblock}
											
{BEGIN TOTPAGOS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TOTPAGOS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TOTPAGOS" 
	
	data-signal-error-for="TOTPAGOS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="TOTPAGOS" >


	<label class="r-search-label control-label" for="{$labelfor_TOTPAGOS}">
		{$label q_reporte_002 TOTPAGOS }	</label>
	<div class="r-search-option">
		{$searchtype_TOTPAGOS}
	</div>
	<div class="r-search-field">
		{$TOTPAGOS_editcontrol}	</div>
	<div class="r-search-field">
		{$TOTPAGOS_editcontrol1}
	</div>
	
</div>

{END TOTPAGOS_fieldblock}
											
{BEGIN ULTFECHACORTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ULTFECHACORTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ULTFECHACORTE" 
	
	data-signal-error-for="ULTFECHACORTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="ULTFECHACORTE" >


	<label class="r-search-label control-label" for="{$labelfor_ULTFECHACORTE}">
		{$label q_reporte_002 ULTFECHACORTE }	</label>
	<div class="r-search-option">
		{$searchtype_ULTFECHACORTE}
	</div>
	<div class="r-search-field">
		{$ULTFECHACORTE_editcontrol}	</div>
	<div class="r-search-field">
		{$ULTFECHACORTE_editcontrol1}
	</div>
	
</div>

{END ULTFECHACORTE_fieldblock}
											
{BEGIN ANIOCORTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ANIOCORTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ANIOCORTE" 
	
	data-signal-error-for="ANIOCORTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ANIOCORTE" >


	<label class="r-search-label control-label" for="{$labelfor_ANIOCORTE}">
		{$label q_reporte_002 ANIOCORTE }	</label>
	<div class="r-search-option">
		{$searchtype_ANIOCORTE}
	</div>
	<div class="r-search-field">
		{$ANIOCORTE_editcontrol}	</div>
	<div class="r-search-field">
		{$ANIOCORTE_editcontrol1}
	</div>
	
</div>

{END ANIOCORTE_fieldblock}
											
{BEGIN MESCORTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_MESCORTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="MESCORTE" 
	
	data-signal-error-for="MESCORTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="MESCORTE" >


	<label class="r-search-label control-label" for="{$labelfor_MESCORTE}">
		{$label q_reporte_002 MESCORTE }	</label>
	<div class="r-search-option">
		{$searchtype_MESCORTE}
	</div>
	<div class="r-search-field">
		{$MESCORTE_editcontrol}	</div>
	<div class="r-search-field">
		{$MESCORTE_editcontrol1}
	</div>
	
</div>

{END MESCORTE_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
