<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel rep_prg001_catalogopresupuestal search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ID" 
	
	data-signal-error-for="ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ID" >


	<label class="r-search-label control-label" for="{$labelfor_ID}">
		{$label rep_prg001_catalogopresupuestal ID }	</label>
	<div class="r-search-option">
		{$searchtype_ID}
	</div>
	<div class="r-search-field">
		{$ID_editcontrol}	</div>
	<div class="r-search-field">
		{$ID_editcontrol1}
	</div>
	
</div>

{END ID_fieldblock}
											
{BEGIN Tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Tipo" 
	
	data-signal-error-for="Tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Tipo" >


	<label class="r-search-label control-label" for="{$labelfor_Tipo}">
		{$label rep_prg001_catalogopresupuestal Tipo }	</label>
	<div class="r-search-option">
		{$searchtype_Tipo}
	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$Tipo_editcontrol1}
	</div>
	
</div>

{END Tipo_fieldblock}
											
{BEGIN Cuenta_Programa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cuenta_Programa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Cuenta_Programa" 
	
	data-signal-error-for="Cuenta_Programa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Cuenta_Programa" >


	<label class="r-search-label control-label" for="{$labelfor_Cuenta_Programa}">
		{$label rep_prg001_catalogopresupuestal Cuenta_Programa }	</label>
	<div class="r-search-option">
		{$searchtype_Cuenta_Programa}
	</div>
	<div class="r-search-field">
		{$Cuenta_Programa_editcontrol}	</div>
	<div class="r-search-field">
		{$Cuenta_Programa_editcontrol1}
	</div>
	
</div>

{END Cuenta_Programa_fieldblock}
											
{BEGIN Subcuenta_Subprograma_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Subcuenta_Subprograma}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Subcuenta_Subprograma" 
	
	data-signal-error-for="Subcuenta_Subprograma{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Subcuenta_Subprograma" >


	<label class="r-search-label control-label" for="{$labelfor_Subcuenta_Subprograma}">
		{$label rep_prg001_catalogopresupuestal Subcuenta_Subprograma }	</label>
	<div class="r-search-option">
		{$searchtype_Subcuenta_Subprograma}
	</div>
	<div class="r-search-field">
		{$Subcuenta_Subprograma_editcontrol}	</div>
	<div class="r-search-field">
		{$Subcuenta_Subprograma_editcontrol1}
	</div>
	
</div>

{END Subcuenta_Subprograma_fieldblock}
											
{BEGIN Objeto_Proyecto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Objeto_Proyecto}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Objeto_Proyecto" 
	
	data-signal-error-for="Objeto_Proyecto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Objeto_Proyecto" >


	<label class="r-search-label control-label" for="{$labelfor_Objeto_Proyecto}">
		{$label rep_prg001_catalogopresupuestal Objeto_Proyecto }	</label>
	<div class="r-search-option">
		{$searchtype_Objeto_Proyecto}
	</div>
	<div class="r-search-field">
		{$Objeto_Proyecto_editcontrol}	</div>
	<div class="r-search-field">
		{$Objeto_Proyecto_editcontrol1}
	</div>
	
</div>

{END Objeto_Proyecto_fieldblock}
											
{BEGIN Ordinal_Subproy_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Ordinal_Subproy}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Ordinal_Subproy" 
	
	data-signal-error-for="Ordinal_Subproy{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Ordinal_Subproy" >


	<label class="r-search-label control-label" for="{$labelfor_Ordinal_Subproy}">
		{$label rep_prg001_catalogopresupuestal Ordinal_Subproy }	</label>
	<div class="r-search-option">
		{$searchtype_Ordinal_Subproy}
	</div>
	<div class="r-search-field">
		{$Ordinal_Subproy_editcontrol}	</div>
	<div class="r-search-field">
		{$Ordinal_Subproy_editcontrol1}
	</div>
	
</div>

{END Ordinal_Subproy_fieldblock}
											
{BEGIN SubOrdinal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SubOrdinal}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SubOrdinal" 
	
	data-signal-error-for="SubOrdinal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="SubOrdinal" >


	<label class="r-search-label control-label" for="{$labelfor_SubOrdinal}">
		{$label rep_prg001_catalogopresupuestal SubOrdinal }	</label>
	<div class="r-search-option">
		{$searchtype_SubOrdinal}
	</div>
	<div class="r-search-field">
		{$SubOrdinal_editcontrol}	</div>
	<div class="r-search-field">
		{$SubOrdinal_editcontrol1}
	</div>
	
</div>

{END SubOrdinal_fieldblock}
											
{BEGIN Item_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Item}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Item" 
	
	data-signal-error-for="Item{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="Item" >


	<label class="r-search-label control-label" for="{$labelfor_Item}">
		{$label rep_prg001_catalogopresupuestal Item }	</label>
	<div class="r-search-option">
		{$searchtype_Item}
	</div>
	<div class="r-search-field">
		{$Item_editcontrol}	</div>
	<div class="r-search-field">
		{$Item_editcontrol1}
	</div>
	
</div>

{END Item_fieldblock}
											
{BEGIN SubItem_1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SubItem_1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SubItem_1" 
	
	data-signal-error-for="SubItem_1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="SubItem_1" >


	<label class="r-search-label control-label" for="{$labelfor_SubItem_1}">
		{$label rep_prg001_catalogopresupuestal SubItem_1 }	</label>
	<div class="r-search-option">
		{$searchtype_SubItem_1}
	</div>
	<div class="r-search-field">
		{$SubItem_1_editcontrol}	</div>
	<div class="r-search-field">
		{$SubItem_1_editcontrol1}
	</div>
	
</div>

{END SubItem_1_fieldblock}
											
{BEGIN Subitem_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Subitem_2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Subitem_2" 
	
	data-signal-error-for="Subitem_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="Subitem_2" >


	<label class="r-search-label control-label" for="{$labelfor_Subitem_2}">
		{$label rep_prg001_catalogopresupuestal Subitem_2 }	</label>
	<div class="r-search-option">
		{$searchtype_Subitem_2}
	</div>
	<div class="r-search-field">
		{$Subitem_2_editcontrol}	</div>
	<div class="r-search-field">
		{$Subitem_2_editcontrol1}
	</div>
	
</div>

{END Subitem_2_fieldblock}
											
{BEGIN ClassAIdFK_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ClassAIdFK}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ClassAIdFK" 
	
	data-signal-error-for="ClassAIdFK{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="ClassAIdFK" >


	<label class="r-search-label control-label" for="{$labelfor_ClassAIdFK}">
		{$label rep_prg001_catalogopresupuestal ClassAIdFK }	</label>
	<div class="r-search-option">
		{$searchtype_ClassAIdFK}
	</div>
	<div class="r-search-field">
		{$ClassAIdFK_editcontrol}	</div>
	<div class="r-search-field">
		{$ClassAIdFK_editcontrol1}
	</div>
	
</div>

{END ClassAIdFK_fieldblock}
											
{BEGIN PosicionMinCIT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PosicionMinCIT}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PosicionMinCIT" 
	
	data-signal-error-for="PosicionMinCIT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="PosicionMinCIT" >


	<label class="r-search-label control-label" for="{$labelfor_PosicionMinCIT}">
		{$label rep_prg001_catalogopresupuestal PosicionMinCIT }	</label>
	<div class="r-search-option">
		{$searchtype_PosicionMinCIT}
	</div>
	<div class="r-search-field">
		{$PosicionMinCIT_editcontrol}	</div>
	<div class="r-search-field">
		{$PosicionMinCIT_editcontrol1}
	</div>
	
</div>

{END PosicionMinCIT_fieldblock}
											
{BEGIN PosicionMinCIT_I_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PosicionMinCIT_I}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PosicionMinCIT_I" 
	
	data-signal-error-for="PosicionMinCIT_I{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="PosicionMinCIT_I" >


	<label class="r-search-label control-label" for="{$labelfor_PosicionMinCIT_I}">
		{$label rep_prg001_catalogopresupuestal PosicionMinCIT_I }	</label>
	<div class="r-search-option">
		{$searchtype_PosicionMinCIT_I}
	</div>
	<div class="r-search-field">
		{$PosicionMinCIT_I_editcontrol}	</div>
	<div class="r-search-field">
		{$PosicionMinCIT_I_editcontrol1}
	</div>
	
</div>

{END PosicionMinCIT_I_fieldblock}
											
{BEGIN Identificacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Identificacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Identificacion" 
	
	data-signal-error-for="Identificacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="Identificacion" >


	<label class="r-search-label control-label" for="{$labelfor_Identificacion}">
		{$label rep_prg001_catalogopresupuestal Identificacion }	</label>
	<div class="r-search-option">
		{$searchtype_Identificacion}
	</div>
	<div class="r-search-field">
		{$Identificacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Identificacion_editcontrol1}
	</div>
	
</div>

{END Identificacion_fieldblock}
											
{BEGIN Descripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Descripcion" 
	
	data-signal-error-for="Descripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="Descripcion" >


	<label class="r-search-label control-label" for="{$labelfor_Descripcion}">
		{$label rep_prg001_catalogopresupuestal Descripcion }	</label>
	<div class="r-search-option">
		{$searchtype_Descripcion}
	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$Descripcion_editcontrol1}
	</div>
	
</div>

{END Descripcion_fieldblock}
											
{BEGIN Estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Estado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Estado" 
	
	data-signal-error-for="Estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="Estado" >


	<label class="r-search-label control-label" for="{$labelfor_Estado}">
		{$label rep_prg001_catalogopresupuestal Estado }	</label>
	<div class="r-search-option">
		{$searchtype_Estado}
	</div>
	<div class="r-search-field">
		{$Estado_editcontrol}	</div>
	<div class="r-search-field">
		{$Estado_editcontrol1}
	</div>
	
</div>

{END Estado_fieldblock}
											
{BEGIN Afecta_Apropiacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Afecta_Apropiacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Afecta_Apropiacion" 
	
	data-signal-error-for="Afecta_Apropiacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="Afecta_Apropiacion" >


	<label class="r-search-label control-label" for="{$labelfor_Afecta_Apropiacion}">
		{$label rep_prg001_catalogopresupuestal Afecta_Apropiacion }	</label>
	<div class="r-search-option">
		{$searchtype_Afecta_Apropiacion}
	</div>
	<div class="r-search-field">
		{$Afecta_Apropiacion_editcontrol}	</div>
	<div class="r-search-field">
		{$Afecta_Apropiacion_editcontrol1}
	</div>
	
</div>

{END Afecta_Apropiacion_fieldblock}
											
{BEGIN Nivel_normativo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Nivel_normativo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Nivel_normativo" 
	
	data-signal-error-for="Nivel_normativo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="Nivel_normativo" >


	<label class="r-search-label control-label" for="{$labelfor_Nivel_normativo}">
		{$label rep_prg001_catalogopresupuestal Nivel_normativo }	</label>
	<div class="r-search-option">
		{$searchtype_Nivel_normativo}
	</div>
	<div class="r-search-field">
		{$Nivel_normativo_editcontrol}	</div>
	<div class="r-search-field">
		{$Nivel_normativo_editcontrol1}
	</div>
	
</div>

{END Nivel_normativo_fieldblock}
											
{BEGIN Requiere_Usos_Presupuestales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Requiere_Usos_Presupuestales}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Requiere_Usos_Presupuestales" 
	
	data-signal-error-for="Requiere_Usos_Presupuestales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="Requiere_Usos_Presupuestales" >


	<label class="r-search-label control-label" for="{$labelfor_Requiere_Usos_Presupuestales}">
		{$label rep_prg001_catalogopresupuestal Requiere_Usos_Presupuestales }	</label>
	<div class="r-search-option">
		{$searchtype_Requiere_Usos_Presupuestales}
	</div>
	<div class="r-search-field">
		{$Requiere_Usos_Presupuestales_editcontrol}	</div>
	<div class="r-search-field">
		{$Requiere_Usos_Presupuestales_editcontrol1}
	</div>
	
</div>

{END Requiere_Usos_Presupuestales_fieldblock}
											
{BEGIN Usos_Presupuestales_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Usos_Presupuestales}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Usos_Presupuestales" 
	
	data-signal-error-for="Usos_Presupuestales{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="Usos_Presupuestales" >


	<label class="r-search-label control-label" for="{$labelfor_Usos_Presupuestales}">
		{$label rep_prg001_catalogopresupuestal Usos_Presupuestales }	</label>
	<div class="r-search-option">
		{$searchtype_Usos_Presupuestales}
	</div>
	<div class="r-search-field">
		{$Usos_Presupuestales_editcontrol}	</div>
	<div class="r-search-field">
		{$Usos_Presupuestales_editcontrol1}
	</div>
	
</div>

{END Usos_Presupuestales_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
